.admin-wrapper .sidebar-wrapper__inner {
    background: #282c37;
}

.admin-wrapper .sidebar__toggle {
    background: #1f232b;
    border-bottom: 1px solid #313543;
}

.admin-wrapper .sidebar__toggle__icon {
    color: #9baec8;
}

.admin-wrapper .sidebar__toggle__icon:focus {
    background: #282c37;
}

.admin-wrapper .sidebar ul a {
    color: #9baec8;
}

.admin-wrapper .sidebar ul a:hover {
    color: #ffffff;
    background-color: #1d2028;
}

.admin-wrapper .sidebar ul a.selected {
    border-radius: 4px 0 0;
}

.admin-wrapper .sidebar ul ul {
    background: #1f232b;
}

.admin-wrapper .sidebar ul ul a {
    color: #9baec8;
}

.admin-wrapper .sidebar ul .warning a {
    color: #ca8f04;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    color: #ffffff;
    background-color: #6364ff;
}

.admin-wrapper .content-wrapper {
    background: #393f4f;
}

.admin-wrapper .content__heading__tabs a {
    color: #9baec8;
}

.admin-wrapper .content__heading__tabs a:hover,
.admin-wrapper .content__heading__tabs a:focus,
.admin-wrapper .content__heading__tabs a:active {
    background: #313543;
}

.admin-wrapper .content__heading__tabs a.selected {
    color: #ffffff;
    background: #6364ff;
}

.admin-wrapper .content__heading h2 small {
    color: #9baec8;
}

.admin-wrapper .content h2 {
    color: #d9e1e8;
}

.admin-wrapper .content h3 {
    color: #d9e1e8;
}

.admin-wrapper .content h4 {
    color: #9baec8;
    border-bottom: 1px solid #393f4f;
}

.admin-wrapper .content h6 {
    color: #d9e1e8;
}

.admin-wrapper .content .fields-group h6 {
    color: #ffffff;
}

.admin-wrapper .content .directory__tag h4 {
    color: #ffffff;
}

.admin-wrapper .content > p {
    color: #d9e1e8;
}

.admin-wrapper .content > p strong {
    color: #ffffff;
}

.admin-wrapper .content hr {
    border-bottom: 1px solid rgba(96, 105, 132, 0.6);
}

.admin-wrapper .content hr.spacer {
    border: 0;
}

body .muted-hint,
.admin-wrapper .content .muted-hint {
    color: #9baec8;
}

body .muted-hint a,
.admin-wrapper .content .muted-hint a {
    color: #8c8dff;
}

body .positive-hint,
.admin-wrapper .content .positive-hint {
    color: #79bd9a;
}

body .negative-hint,
.admin-wrapper .content .negative-hint {
    color: #df405a;
}

body .neutral-hint,
.admin-wrapper .content .neutral-hint {
    color: #606984;
}

body .warning-hint,
.admin-wrapper .content .warning-hint {
    color: #ca8f04;
}

.filters .filter-subset strong {
    color: #9baec8;
}

.filters .filter-subset a {
    color: #9baec8;
}

.filters .filter-subset a:hover {
    color: #ffffff;
    border-bottom: 2px solid #333846;
}

.filters .filter-subset a.selected {
    color: #8c8dff;
    border-bottom: 2px solid #6364ff;
}

.report-card {
    background: #282c37;
}

.report-card__summary__item__reported-by,
.report-card__summary__item__assigned {
    color: #9baec8;
}

.report-card__summary__item:hover {
    background: #2c313d;
}

.report-card__profile__stats {
    color: #9baec8;
}

.report-card__profile__stats a:hover,
.report-card__profile__stats a:focus,
.report-card__profile__stats a:active {
    color: #b5c3d6;
}

.report-card__profile__stats .red {
    color: #df405a;
}

.speech-bubble {
    border-inline-start: 4px solid #6364ff;
}

.speech-bubble.positive {
    border-left-color: #79bd9a;
}

.speech-bubble.negative {
    border-left-color: #e87487;
}

.speech-bubble.warning {
    border-left-color: #ca8f04;
}

.speech-bubble__bubble {
    color: #9baec8;
}

.speech-bubble__owner {
    color: #9baec8;
}

.speech-bubble time {
    color: #606984;
}

.report-card__profile__stats .red {
    color: #df405a;
}

.ellipsized-ip {
    color: #d9e1e8;
}

.admin-account-bio .account__header__fields,
.admin-account-bio .account__header__content {
    background: #393f4f;
}

.admin-account-bio .account__header__fields a {
    color: #8c8dff;
}

.admin-account-bio .account__header__fields .verified a {
    color: #79bd9a;
}

.admin-account-bio .account__header__content {
    color: #ffffff;
}

.applications-list__item,
.filters-list__item {
    background: #282c37;
    border: 1px solid #313543;
}

.user-role {
    color: var(--user-role-accent);
}

.announcements-list__item,
.filters-list__item {
    background: #282c37;
    border-bottom: 1px solid #313543;
}

.announcements-list__item__title,
.filters-list__item__title {
    color: #d9e1e8;
}

.announcements-list__item__meta,
.filters-list__item__meta {
    color: #606984;
}

.announcements-list__item__action-bar,
.filters-list__item__action-bar {
    color: #ffffff;
}

.retention__table__number {
    color: #d9e1e8;
}

.retention__table__label {
    color: #9baec8;
}

.retention__table__box,
.retention__table__box--0,
.retention__table__box--10,
.retention__table__box--20,
.retention__table__box--30,
.retention__table__box--40,
.retention__table__box--50,
.retention__table__box--60,
.retention__table__box--70,
.retention__table__box--80,
.retention__table__box--90,
.retention__table__box--100 {
    color: #ffffff;
}

.sparkline__value__total,
.sparkline__value__change,
.sparkline__label {
    color: #9baec8;
}

.sparkline__value__change.positive {
    color: #79bd9a;
}

.sparkline__value__change.negative {
    color: #df405a;
}

.report-reason-selector,
.report-reason-selector__category {
    background: #282c37;
}

.report-reason-selector__category__label,
.report-reason-selector__rule {
    color: #ffffff;
}

.report-header__details__item,
.report-header__details__item__header {
    color: #9baec8;
}

.account-card {
    background: #282c37;
}

.account-card__title .display-name {
    color: #9baec8;
}

.account-card__title .display-name bdi {
    color: #ffffff;
}

.account-card__bio::after {
    background: linear-gradient(to left, #282c37, transparent);
}

.account-card__bio a {
    color: #d9e1e8;
}

.account-card__bio a:hover {
    text-decoration: underline;
}

.account-card__bio a.mention:hover span {
    text-decoration: underline;
}

.account-card__counters__item {
    color: #ffffff;
}

.account-card__counters__item small {
    color: #9baec8;
}

.report-notes__item {
    background: #282c37;
    border-bottom: 1px solid #17191f;
}

.report-notes__item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.report-notes__item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}

.report-notes__item:hover {
    background-color: #313543;
}

.report-notes__item__header {
    color: #9baec8;
}

.report-notes__item__header .username {
    color: #ffffff;
}

.report-notes__item__header .username a {
    color: inherit;
}

.report-notes__item__header .username a:hover,
.report-notes__item__header .username a:focus,
.report-notes__item__header .username a:active {
    text-decoration: underline;
}

.report-notes__item__content {
    color: #ffffff;
}

.report-notes__item__content a {
    color: #8c8dff;
}

.report-notes__item__content a:hover {
    text-decoration: underline;
}

.report-notes__item__actions {
    color: #9baec8;
}

.report-actions {
    border: 1px solid #17191f;
}

.report-actions__item {
    border-bottom: 1px solid #17191f;
}

.report-actions__item:last-child {
    border-bottom: 0;
}

.report-actions__item__description {
    color: #606984;
}

.section-skip-link a {
    color: #6364ff;
}

.section-skip-link a:hover,
.section-skip-link a:focus,
.section-skip-link a:active {
    text-decoration: underline;
}

.strike-card {
    background: #282c37;
    color: #ffffff;
}

.strike-card a {
    color: #8c8dff;
}

.strike-card a:hover {
    text-decoration: underline;
}

.strike-card p {
    unicode-bidi: -webkit-plaintext;
}

.strike-card__rules {
    color: #9baec8;
}

.strike-card__rules__text {
    color: #ffffff;
}

.strike-card__statuses-list {
    border: 1px solid #17191f;
}

.strike-card__statuses-list__item {
    background: #2c313d;
    border-bottom: 1px solid #17191f;
}

.strike-card__statuses-list__item:last-child {
    border-bottom: 0;
}

.strike-card__statuses-list__item__meta {
    color: #9baec8;
}

.strike-card__statuses-list__item a {
    color: inherit;
}

.strike-card__statuses-list__item a:hover,
.strike-card__statuses-list__item a:focus,
.strike-card__statuses-list__item a:active {
    text-decoration: underline;
}

.availability-indicator {
    color: #ffffff;
}

.availability-indicator__graphic__item {
    background: #393f4f;
}

.availability-indicator__graphic__item.positive {
    background: #79bd9a;
}

.availability-indicator__graphic__item.negative {
    background: #df405a;
}

.history li::before {
    background: #282c37;
    border: 1px solid #8c8dff;
    color: #8c8dff;
}

.history li::after {
    background: #8c8dff;
}

.history__entry h5 {
    color: #ffffff;
}

.dashboard__counters > div > div,
.dashboard__counters > div > a {
    background: #313543;
}

.dashboard__counters > div > a:hover,
.dashboard__counters > div > a:focus,
.dashboard__counters > div > a:active {
    background: #393f4f;
}

.dashboard__counters__num,
.dashboard__counters__text {
    color: #ffffff;
}

.dashboard__counters__label {
    color: #9baec8;
}

.dashboard__quick-access {
    background: #6364ff;
    color: #ffffff;
}

.dashboard__quick-access:active,
.dashboard__quick-access:focus,
.dashboard__quick-access:hover {
    background-color: #563acc;
}

.dashboard__quick-access.positive {
    background: #313543;
    color: #79bd9a;
}

.dashboard__quick-access.negative {
    background: #313543;
    color: #df405a;
}

.history li::before {
    background: #282c37;
    border: 1px solid #8c8dff;
    color: #8c8dff;
}

.reply-indicator__content blockquote {
    border-left-color: #282c37;
    color: #282c37;
}
